
/* Enter your custom styles here */


.red{
    color: red;
}

.green{
    color: green;
}

.yellow{
    color: yellow;
}


.font14{
	font-size: 14px !important;
}

.font18{
	font-size: 18px !important;
}

.font22{
	font-size: 22px !important;
}